@import "tailwindcss";
body {
  overscroll-behavior: smooth;
}


/* Fade in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.2s ease-out forwards;
}

/* Loading bar animation */
@keyframes loadingBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

.animate-loadingBar {
  animation: loadingBar 1.5s infinite ease-in-out;
}
